*{
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: #DDE5F4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal {
    width: 300px;
    height: fit-content;
    background-color: #b3dddd;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.modal img {
    width: 250px;
}

form {
    width: 80%;
}

.input-area,
.password-area{
    font-weight: bold;
    height: fit-content;
    background-color: #fafafa;
    padding: 5px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.input-area p,
.password-area p {
    margin: 5px 0px 5px 3px;
}

.input-area input,
.password-area input {
    padding: 10px;
    border: none;
    background-color: transparent;
    outline: none;

}

button {
    width: 100%;
    padding: 10px 0px;
    border-radius: 45px;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
    background-color: #2F453F;
    color: #fff;
}

.area-de-baixo {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 90px;
}

.area-de-baixo a {
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    color: #333
}